{% extends 'base.html' %}

{% block title %}
Welcome to FlaskBlog
{% endblock %}

{% block content %}
<div class="container mt-5" style="background-color: #CFE6FF;">
    <h1>Welcome to FlaskBlog</h1>
    {% set bg_colors = ['bg-light', 'bg-info'] %}
    {% for post in posts %}
        {% set user = get_user_by_id(post['user_id']) %}
        {% set loop_index = loop.index0 %}
        <div class="row align-items-center mb-4 rounded" style="background-color: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 50px; padding: 20px;">
            <div class="col-auto text-center">
                <div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 70px; height: 70px;">
                    {{ user['username'][0].upper() }}
                </div>
                <p class="text-muted mb-0 text-black">{{ user['username'] }}</p>
            </div>
            <div class="col">
                <h2 class="h5">
                    <a href="{{ url_for('post', post_id=post['id']) }}" class="text-black">{{ post['title'] }}</a>
                </h2>
                <p>{{ post['content'][:100] }}...</p>
                <p class="text-muted"><small>{{ post['created'] }}</small></p>
                <a href="{{ url_for('edit', id=post['id']) }}" class="badge badge-warning">Edit</a>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}
