{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Welcome to FlaskBlog{% endblock %}</h1>

{% for post in posts %}
  <a href="{{ url_for('post', post_id=post['id']) }}">
    <h2>{{ post['title'] }}</h2>
  </a>
  <p>{{ post['content'] }}</p>
  <span class="badge badge-primary">{{ post['created'] }}</span>
  <!-- Fetch user's username using user_id -->
  {% set user = get_user_by_id(post['user_id']) %}
  <p>Posted by: {{ user['username'] }}</p>
  <a href="{{ url_for('edit', id=post['id']) }}">
    <span class="badge badge-warning">Edit</span>
  </a>
  <hr />
{% endfor %}
{% endblock %}
